<div class="bg-section" style="background-image: url({{ section.settings.mainBgimage | img_url:'master' }})">
  <div class="container">
    {% if section.settings.title != blank %}
      <h1 class="h1-main-title">{{ section.settings.title }}</h1>
    {% else %}
      <h1 class="h1-main-title">{{ page.title }}</h1>
    {% endif %}
  </div>
</div>
<div class="pages-breadcrumbs-section">
  <div class="container">
    {% include 'breadcrumbs' %}
  </div>
</div>
{% schema %}
  {
    "name": "Contact us",
    "settings": [
      {
        "type": "image_picker",
        "id": "mainBgimage",
        "label": "BG Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}