<style>
  .supports-sticky .Search[aria-hidden="true"]+.Header--transparent {
    background: #59058d;
}
  .PageHeader { margin-top: 115px; }
  span.cust-img img { opacity: 0.8; }
  .cust-img a.category-button { font-size: 28px; }
  .Grid--center { text-align: left; }
  .ArticleListWrapper.prod-sec { margin-top: 50px; }
  ul.by-cln { margin: 0px; list-style: none; }
  ul.by-cln li { display: inline-block; vertical-align: middle; width: 32%; margin: 0px 0px 0px 13px; }
  ul.by-cln li a { background: #ededed; display: block; text-align: center; padding: 50px 10px; }
  .cust-img a.category-button { text-align: center; }
</style>
<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1"><span>{{ collection.title }}</span></h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">
   

<div class="ArticleListWrapper prod-sec">
  <div class="ArticleList Grid Grid--center">
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/imgg1.png"> <a href="/collections/robe-hooks" class="category-button">Robe Hooks</a> </span></div>
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/imgg2.png"> <a href="/collections/towel-bars" class="category-button">Towel Bars</a> </span></div>
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/imgg3.png"> <a href="/collections/toilet-paper-holder" class="category-button">Toilet Paper Holders</a> </span></div>
  </div>
  <div class="ArticleList Grid Grid--center">
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/imgg4.png"> <a href="/collections/other-accessories" class="category-button">Other Accessories</a> </span></div>
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/imgg5.png"> <a href="/collections/accessory-by-collection" class="category-button">Accessories by Collection</a> </span></div>
  </div>

</div>
   
    
    
  </div>
</div>