<style>
  .cust-img a.category-button { font-size: 28px; }
  .Grid--center { text-align: left; }
  .ArticleListWrapper.prod-sec { margin-top: 50px; }
  ul.by-cln { margin: 0px; list-style: none; }
  ul.by-cln li { display: inline-block; vertical-align: middle; width: 32%; margin: 0px 0px 0px 13px; }
  ul.by-cln li a { background: #ededed; display: block; text-align: center; padding: 50px 10px; }
  .cust-img a.category-button { text-align: center; }
</style>
<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1"><span>{{ collection.title }}</span></h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">
    {{ page.content }}  

<div class="ArticleListWrapper prod-sec">
  <div class="ArticleList Grid Grid--center">
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img01.png"> <a href="/collections/shower-sets" class="category-button">Shower Sets</a> </span></div>
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img02.png"> <a href="/collections/tub-fillers" class="category-button">Tub Fillers</a> </span></div>
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img03.png"> <a href="/collections/shower-heads" class="category-button">Showerheads</a> </span></div>
  </div>

  <div class="ArticleList Grid Grid--center">
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img04.png"> <a href="/collections/controls" class="category-button">Controls</a> </span></div>
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img05.png"> <a href="/collections/body-jets" class="category-button">Body Jets</a> </span></div>
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img06.png"> <a href="/collections/hand-shower-kits" class="category-button">Handshower Kits</a> </span></div>
  </div>
  
  <div class="ArticleList Grid Grid--center">
    <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img07.png"> <a href="/collections/all-shower-components" class="category-button">Shower Components</a> </span></div>
     <div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/F943-VO_tile.jpg"> <a href="/collections/valves" class="category-button">Valves</a> </span></div>
  </div>

</div>
   

    
    
  </div>
</div>