<style>
  span.cust-img img { opacity: 0.8; }
  .cust-img a.category-button { font-size: 28px; }
  .Grid--center { text-align: left; }
  .ArticleListWrapper.prod-sec { margin-top: 50px; }
  ul.by-cln { margin: 0px; list-style: none; }
  ul.by-cln li { display: inline-block; vertical-align: middle; width: 32%; margin: 0px 0px 0px 13px; }
  ul.by-cln li a { background: #ededed; display: block; text-align: center; padding: 50px 10px; }
  .cust-img a.category-button { text-align: center; }
</style>
<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1"><span>{{ collection.title }}</span></h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">

<div class="ArticleListWrapper prod-sec">
<div class="ArticleList Grid Grid--center">
   <div class="Grid__Cell 1/2--tablet 1/2--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img1.png"> <a href="/collections/kitchen-faucet" class="category-button">Kitchen Faucet</a> </span></div>
   <div class="Grid__Cell 1/2--tablet 1/2--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img2.png"> <a href="/collections/single-hole-lav-faucet" class="category-button">Single-Hole Lav Faucet</a> </span></div>
</div>
<div class="ArticleList Grid Grid--center">
    <div class="Grid__Cell 1/2--tablet 1/2--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img3.png"> <a href="/collections/wall-mounted-lav-faucets" class="category-button">Wall-Mounted Lav Faucets</a> </span></div>
    <div class="Grid__Cell 1/2--tablet 1/2--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img4.png"> <a href="/collections/8-spread-lav-faucets" class="category-button">8" Spread Lav Faucets</a> </span></div>
   {% comment %}<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/img6.png"> <a href="/collections/bidets" class="category-button">Bidet Faucets</a> </span></div>{% endcomment %}
</div>

</div>
   
    
    
    
    

    
    
  </div>
</div>