<style>
   span.cust-img img { opacity: 0.8; }
  .cust-img a.category-button { font-size: 28px; }
  .Grid--center { text-align: left; }
  .ArticleListWrapper.prod-sec { margin-top: 50px; }
  ul.by-cln { margin: 0px; list-style: none; }
  ul.by-cln li { display: inline-block; vertical-align: middle; width: 32%; margin: 0px 0px 0px 13px; }
  ul.by-cln li a { background: #ededed; display: block; text-align: center; padding: 50px 10px; }
</style>
<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1"><span>{{ collection.title }}</span></h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">

<div class="ArticleListWrapper prod-sec">
<div class="ArticleList Grid Grid--center">
<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/kascade_collection_tile.jpg"> <a href="/collections/kascade" class="category-button">Kascade</a> </span></div>
<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/milan_collection_tile.jpg"> <a href="/collections/milan" class="category-button">Milan</a> </span></div>
<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/novi_collection_tile.jpg?v=1586448253"> <a href="/collections/novi" class="category-button">Novi</a> </span></div>
</div>
<div class="ArticleList Grid Grid--center">
<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/opera_collection_tile.jpg"> <a href="/collections/opera" class="category-button">Opera</a> </span></div>
<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/otella_colleciton_tile.jpg"> <a href="/collections/otella" class="category-button">Otella</a> </span></div>
<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/quarto_collection_tile.jpg"> <a href="/collections/quarto" class="category-button">Quarto</a> </span></div>
</div>
<div class="ArticleList Grid Grid--center">
<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/safire_collection_tile.jpg"> <a href="/collections/safire" class="category-button">Safire</a> </span></div>
<div class="Grid__Cell 1/2--tablet 1/3--lap-and-up"><span class="cust-img"><img src="https://cdn.shopify.com/s/files/1/0328/1525/1592/files/Trova_collection_tiles.jpg"> <a href="/collections/trova" class="category-button">Trova</a> </span></div>
</div>
</div>
   
  
    
    
   
    
    
  
    
   
    
    
  </div>
</div>