<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1"><span>{{ page.title }}</span></h1>
    </div>
  </header>

<div class="cz-embed-gallery cozy-gallery-lazy-load" id="cz-embed-gallery27765">
<!-- ALWAYS KEEP THIS EMPTY -->
</div>
    
	<!-- Header -->
<!-- div class="header">
  <h1>Responsive Image Grid</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div-->

 